a {color:red;
  text-decoration: none;
  }

h1 {
  font-size:100px; text-align:center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
}
#grid ol, ul{
  width:100px;
  margin:0;

  }
#grid2{
  border-right: 1px solid gray;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#본문{
  padding-left: 10px;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  #grid2{
border-right:none;
  }
  h1 {
    font-size:100px; text-align:center;
    border-bottom:none;
  }
}
